
Tetris/Tetris/bin/Debug/net6.0/Tetris.deps.json
Tetris/Tetris/bin/Debug/net6.0/Tetris.dll
Tetris/Tetris/bin/Debug/net6.0/Tetris.exe
Tetris/Tetris/bin/Debug/net6.0/Tetris.pdb
Tetris/Tetris/bin/Debug/net6.0/Tetris.runtimeconfig.json
Tetris/Tetris/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Tetris/Tetris/obj/Debug/net6.0/apphost.exe
Tetris/Tetris/obj/Debug/net6.0/ref/Tetris.dll
Tetris/Tetris/obj/Debug/net6.0/refint/Tetris.dll
Tetris/Tetris/obj/Debug/net6.0/Tetris.AssemblyInfo.cs
Tetris/Tetris/obj/Debug/net6.0/Tetris.AssemblyInfoInputs.cache
Tetris/Tetris/obj/Debug/net6.0/Tetris.assets.cache
Tetris/Tetris/obj/Debug/net6.0/Tetris.csproj.AssemblyReference.cache
Tetris/Tetris/obj/Debug/net6.0/Tetris.csproj.BuildWithSkipAnalyzers
Tetris/Tetris/obj/Debug/net6.0/Tetris.csproj.CoreCompileInputs.cache
Tetris/Tetris/obj/Debug/net6.0/Tetris.csproj.FileListAbsolute.txt
Tetris/Tetris/obj/Debug/net6.0/Tetris.dll
Tetris/Tetris/obj/Debug/net6.0/Tetris.GeneratedMSBuildEditorConfig.editorconfig
Tetris/Tetris/obj/Debug/net6.0/Tetris.genruntimeconfig.cache
Tetris/Tetris/obj/Debug/net6.0/Tetris.GlobalUsings.g.cs
Tetris/Tetris/obj/Debug/net6.0/Tetris.pdb
Tetris/Tetris/obj/project.assets.json
Tetris/Tetris/obj/project.nuget.cache
Tetris/Tetris/obj/Tetris.csproj.nuget.dgspec.json
Tetris/Tetris/obj/Tetris.csproj.nuget.g.props
Tetris/Tetris/obj/Tetris.csproj.nuget.g.targets
Tetris/.vs/Tetris/FileContentIndex/3e6168cb-cb03-422c-9a76-698c14b9cbd0.vsidx
Tetris/.vs/Tetris/FileContentIndex/read.lock
Tetris/.vs/Tetris/v17/.suo
*.vsidx
*.v2
*.v2
*.v2
Tetris/.vs/Tetris/DesignTimeBuild/.dtbcache.v2
*.v2
Tetris/.vs/ProjectSettings.json
Tetris/.vs/slnx.sqlite
Tetris/.vs/Tetris/v17/.wsuo
Tetris/Tetris/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Tetris/Tetris/obj/Release/net6.0/Tetris.AssemblyInfo.cs
Tetris/Tetris/obj/Release/net6.0/Tetris.AssemblyInfoInputs.cache
Tetris/Tetris/obj/Release/net6.0/Tetris.csproj.AssemblyReference.cache
Tetris/Tetris/obj/Release/net6.0/Tetris.GeneratedMSBuildEditorConfig.editorconfig
Tetris/Tetris/obj/Release/net6.0/Tetris.GlobalUsings.g.cs
Tetris/.vs/VSWorkspaceState.json
Tetris/.vs/ProjectEvaluation/tetris.projects.v7.bin
Tetris/.vs/ProjectEvaluation/tetris.metadata.v7.bin
Tetris/.vs/Tetris/v17/.futdcache.v2
Tetris/.vs/Tetris/DesignTimeBuild/.dtbcache.v2
Tetris/.vs/Tetris/v17/.futdcache.v2
Tetris/.vs/Tetris/DesignTimeBuild/.dtbcache.v2
